<div class="Banner"></div>
<div class="main-content">
<div class="contain col-sm-4">
    <div class="text">
        <h2><strong>

                Shubham Convent School
            </strong>
        </h2><br>
    </div>    
    <div class="text1">
        <h6>Shashtri Colony,Nasrullaganj</h6>
        <h6>Phone No : 7999540170 </h6>
        <h6>Email Id:
            <a href="ShubhamConvent21@gmail.com">ShubhamConvent21@gmail.com</a></h6>
            <h6>School Website :
                <a href="shubhamconvent.com">shubhamconvent.com</a></h6>
                   

    </div>


    
    
</div>
<div class="map col-sm-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.0968377809145!2d77.27316691443612!3d22.687438734464344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397da90a355800ff%3A0x3f7f554a4c8e9c30!2sShubham%20Convent%20School!5e0!3m2!1sen!2sin!4v1640369130726!5m2!1sen!2sin"   width="750" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>