.Banner{
    background-image: url(https://i.ibb.co/RgXx9gY/Screenshot-160.png);
    height: 130px;
    width: 100%;
    /* padding: 2px 2px 2px 2px; */
}
div.text{
    margin-top: 20px;
    padding-top: 40px;
    color: darkgrey;
}
div.text1{
    margin-top: 10px;
    color: darkkhaki;
}
/* div.contain{
    /* float: left; */
/* }  */
.contain{
    margin-left: 30px;
    /* height: 350px; */
    /* margin-bottom: 60px; */
}
.map{
    /* float: right; */
    /* margin: 5px; */
    margin-left: 60px;
    padding-left: 40px;
    padding-top: 30px;
    /* width: 700px;
    height: 350px; */
}
.main-content{
    display: inline-flex;
    margin-bottom: 68px;

}