.Banner{
    background-image: url(https://i.ibb.co/N90TSS4/Screenshot-162.png);
    height: 130px;
    width: 100%;

}
div.text{
    padding-top:25px;
    color: dimgrey;
}
div.text1{
    padding-top: 25px;
    color: dimgrey;
}div.text2{
    padding-top: 25px;
    color: dimgrey;
    
  
    
}
