
<div class="Banner"></div>
<div class=" col-sm-8">
    <div class="text">
        <ul>
            <h3>Our Objectives</h3>
            <li>To make a mark of distinction in the field of education.
            </li>
            <li>To develop an independent innovative and creative thought process.
            </li>
            <li>To build a strong younger generation with a sound mind and physique.
            </li>
            <li>To develop a Scientific temper to keep contact with the world day-today technology.
            </li>
            <li>To impart deep-rooted knowledge to get strength and confidence.
            </li>
        </ul>

    </div>
    <div class="text1">
        <ul>
            <h3>Salient Feature</h3>
            <li>Well established secured and separate school exclusively for girls and for boys.
            </li>
            <li>More than 150 dedicated, trained and experienced teachers.
            </li>
            <li>Commerce with Maths and with Computer Application Physical Education and Information practice.
            </li>
            <li>
                Facility of Smart Classes.
           </li>
           <li>
            Continuous comprenhensive evaluation.
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="text2 col-sm-6">
            <ul>
                <h3>The Kindergarten
                </h3>
                <h5><strong>
                    “A Place of awakening the soul”.
                    
                </strong> 
            </h5>
                <h6> Saplings continuously need nurturing and pruning till the young plants come out therefore we provide a separate Zone for pre-primary Section   with   well equipped class rooms and all audiovisual Facilities essential for ‘SMART  CLASS’.</h6>

            </ul>
            
        </div>
        
    </div>
</div>
