<div class="main-container"></div>
<div class="container">
    
    <h1>WE ENSURE A BETTER EDUCATION <br>
        FOR A BETTER WORLD</h1>
        <h3>Courses We Offer</h3>
        <div class="subjects">
        <div class="maths col-sm-4">
            <h4>Maths</h4>
            <img src="https://i.ibb.co/FJg9CF5/mathslogo.png" height="150px" width="200px" alt="maths">
        </div>
        <div class="commerce col-sm-4">
            <h4>Commerce</h4>
            <img src="https://i.ibb.co/2jLrGsb/commerce.jpg" height="150px" width="200px" alt="commerce" >
        </div>
        <div class="agriculture col-sm-4">
            <h4>Agriculture</h4>
            <img src="https://i.ibb.co/925ZWP3/agriculture.jpg" height="150px" width="200px" alt="agriculture">
        </div>
        <div class="bio col-sm-4">
            <h4>Bio</h4>
            <img src="https://i.ibb.co/jV06ZvS/bio.jpg" height="150px" width="200px" alt="bio">
        </div>
        <div class="arts col-sm-4">
            <h4>Arts</h4>
            <img src="https://i.ibb.co/6Hmpz85/arts.jpg" height="150px" width="200px" alt="arts">
        </div>
    </div>
</div>
