.Banner{
    background-image: url(https://i.ibb.co/xFPFBrs/Screenshot-149.png);
    height: 150px;
    width: 100%;
}

.container{
  display: inline-flex;
  width: 100%;
}
.container h3{
  margin-top: 20px;
 
  margin-left: 15px;
  padding: 10px 10px 50px 50px;
}
.container h6{
padding-top: 10px;
}
.activity1{
  margin-top: 30px;
  list-style: none;
 
  
}.activity2{
  margin-top: 30px;
  list-style: none;
  
  
}
.container2 h2{
  text-align: center;
  color: darkgrey;
}
.container3{
  display: inline-flex;
  margin-left: 150px;
  padding-top: 10px;
  
}