<!-- <img src="https://i.ibb.co/xFPFBrs/Screenshot-149.png" alt="Screenshot-149"> -->
<div class="Banner"></div>
<div class="container">
    <ul>
        <li class="activity1 col-sm-4">
            <img src="https://i.ibb.co/CtRdYT6/Screenshot-154.png" height="160px" alt="">
        </li>
    </ul>
    <h3 >
            Co-curricular Activities
            <h6>Personality development is the main objective of our education and can be achieved only by organizing different co-curricular activities. To develop this important aspect of education, we promote the students to take part in these activities by organizing them in the form of Inter-House Competitions. We also organize the summer-camp in which we develop different skills like music, dance, craft, calligraphy, yoga games etc. and provide free conveyance with other facilities at minimum charges.</h6>
    </h3>
        <!-- <li class="activity2">
            <img src="https://i.ibb.co/Nj7jYvG/Screenshot-155.png" alt="">
        </li> -->
    

</div>
<div class="container2">
<h2>Games Sport</h2>
<h6>Physical Education is very essential ingredient of our curriculum therefore we provide good facilities for different games like Table Tennis, Carom, Badminton, Basket-Ball, Volley-Ball, Yoga, Cricket, etc.

</h6>
</div>
<div class="container3 ">
    <img src="https://i.ibb.co/Pchc0Wr/sports.jpg"  height="300px" alt="">
    <img src="https://i.ibb.co/2YCFB9J/Return-of-Sports.jpg" height="300px" alt="">

</div>

<!-- <div class="container">
    <div class="img col-6">

        <ul>
            
                <div class="img1"></div>
    
          
               <div class="img2"></div>
    
        
            
        
        </ul>
    </div>
    
</div>

<div class="col-sm-6">
  <h1></h1>
</div> -->
<!-- <div class="img col-6">
<div class="gallery col-sm-2 img">
   
      <img src="https://i.ibb.co/CtRdYT6/Screenshot-154.png" alt="activity" >
   
   
  </div>
  
  <div class="gallery col-sm-2 img1">
    
      <img src="https://i.ibb.co/Nj7jYvG/Screenshot-155.png" alt="Forest">
  </div>
</div>

<div class="gallery col-sm-2 img2'">
      <img src="https://i.ibb.co/VSr1h3L/Screenshot-157.png" >
    
  </div>
  
  <div class="gallery col-sm-2 img3">
      <img src="https://i.ibb.co/wLMJz0v/Screenshot-158.png" >
    
  </div>
  <div class="text">
      <h1>ram</h1>
 </div> -->