
<body>
  <!-- <div style="background-image: url(D:\ProjectByAngular\Project\logo.jpg);"></div> -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

  </nav>

  <nav class="navbar navbar-expand-sm ">
    <a class="navbar-brand"></a>


    <span class="navbar-toggler-icon"></span>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="">Home</a>
        <a class="nav-item nav-link" routerLink="About">About</a>
        <a class="nav-item nav-link" routerLink="Career">Career With Us</a>
        <a class="nav-item nav-link" routerLink="ContactUs">Contact Us</a>
        <a class="nav-item nav-link " routerLink="Courses">Courses</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">


  </nav>

  <div class="container1">
    <router-outlet></router-outlet>
  </div>
 

  <footer class="footer bg-dark text-center text-white ">
    <!-- Grid container -->
    <!-- <div class="container  p-6 pb-0"> -->
      <!-- Section: Social media -->

    <!-- Grid container -->

    <!-- Copyright -->
    
    <div class="container ">
      <!-- Section: Social media -->
      <!-- <section class="mb-4"> -->
        <!-- Facebook -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
           ><i class="fab fa-facebook-f"></i
          ><img src="https://i.ibb.co/VjV31jN/1-ST-OCT-FB-LOGO.png" height="20px" alt="fb-logo"></a>

        <!-- Twitter -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
           ><i class="fab fa-twitter"></i
          ><img src="https://i.ibb.co/7pv4d0X/download.png" height="20px" alt="twitter-logo"></a>

        <!-- Google -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
           ><i class="fab fa-google"></i
          ><img src="https://i.ibb.co/54HfTD0/Google.jpg" height="20px" alt="google-logo"></a>

        <!-- Instagram -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
           ><i class="fab fa-instagram"></i
          >
        <img src="https://i.ibb.co/3kcXfDG/download-1.jpg" height="20px" alt="insta-logo"></a>

        <!-- Linkedin -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button"
           ><i class="fab fa-linkedin-in"></i
          >
        <img src="https://i.ibb.co/vkFNth8/high-resolution-colored-linkedin-logo-white-background-vector-eps-file-available-additional-download.jpg" height="20px" alt="in-logo"></a>

        <!-- Map -->
        <a class="fab btn btn-outline-light btn-floating m-1" href="https://goo.gl/maps/cVxEehvQZ2pTaExF7" role="button"
           ><i class="fab fa-map"></i
          ><img src="https://i.ibb.co/Bs7rRfN/download-1.png" height="20px" alt="map-logo"></a>
      <!-- </section> -->
      <!-- Section: Social media -->
    </div>
   
      <div class="container2 text-center " >
        © 2021 Copyright : All Right Reserved
       
      </div>

    
    <!-- Copyright -->
  </footer>




</body>
