
<div class="banner">
   

</div>
<div class="container">

    <li>Collect the form from the institution on due payment.</li>
    <li>After completing all the entries, submit the form in the school office.</li>
    <li>Admission will be given in different Classes according to the vacancies</li>
    <li>For Admission from Nursery to VIII no Interview or written test will be taken.</li>
    <li>Admission will be given on the basis of General interaction.</li>
    <li>Age upto 30th
        <ul>
            <li>
                Nursery &nbsp; 2½ to 3½Year
            </li> 
                <li>
                    K.G.-I &nbsp;&nbsp;&nbsp;&nbsp; 3½ to 4½Year
                </li>
                <li>
                    K.G.-II  &nbsp;&nbsp;&nbsp; 4½ to 5½Year
                </li>
            
        </ul>
    </li>
</div>