<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="carouselExampleControls">
      <img src="https://i.ibb.co/tYbnhww/q-TWJm-T7q-Wr3-N.jpg" height="300px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" id="carouselExampleControls">
      <img src="https://i.ibb.co/wJCM20z/download.jpg" class="d-block w-100" alt="...">
    </div>
  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main-container">
  <div class="container">
    <div class="text col-sm-6">
      <h2>Welcome To Shubham Convent School</h2>
      <h3>A place of awakening the soul</h3>
      <h5><strong>Saplings contiuously need nurturing and pruning till the young plants come out therefore we
          provide a
          separate
          zone for Pre-Primary Section with well equipped class rooms and all audiovisual facilities
          essential for
          “SMART
          CLASS”
        </strong></h5>
    </div>
    <div class="logo">
      <div class="logo1 col-sm-2">
        <ul>
          <li class="admission">
            <a href="Admission"><img src="https://i.ibb.co/dbQQN32/Screenshot-142.png" height="150px" alt="admissionlogo"></a>
          </li>
          <li class="philosophy">
            <a href="#"><img src="https://i.ibb.co/rxSj4Cv/Screenshot-145.png" height="150px" alt="philosophy-logo"></a>
          </li>
        </ul>
        <ul>
          <li class="activity">
            <a href="Activity"><img src="https://i.ibb.co/HzcCqPQ/Screenshot-144.png" height="150px" alt="Activity"></a>

          </li>
        </ul>

      </div>

    </div>
  </div>
</div>